<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.wc.blog.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ConsoleController</display-name>
    <servlet-name>ConsoleController</servlet-name>
    <servlet-class>com.wc.blog.controller.ConsoleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsoleController</servlet-name>
    <url-pattern>/ConsoleController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>BlogController</display-name>
    <servlet-name>BlogController</servlet-name>
    <servlet-class>com.wc.blog.controller.BlogController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogController</servlet-name>
    <url-pattern>/blogShow</url-pattern>
  </servlet-mapping>
  
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.wc.blog.controller.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
</web-app>